{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    },    
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"]
      }
}
